$theme-color:#f88fb5;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#9e9e9e;

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
$large-desktop: '(min-width: 1400px) and (max-width: 1920px)';

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

$normal-desktop: '(min-width: 1025px) and (max-width: 1280px)';

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

$tablet-portrait: '(min-width: 768px) and (max-width: 1024px)';

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

$tablet-landscape: '(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)';

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

$phone-landscape: '(min-width: 481px) and (max-width: 767px)';

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

$phone-portrait: '(min-width: 320px) and (max-width: 480px)';


@mixin respond-to($device){
	@media only screen and #{$device} {
		@content;
	}
}



@include respond-to($phone-portrait){

  // Common Style


  // Index Page

  

  // About Page


}

@include respond-to($phone-landscape){

  // Common Style
  
  // Index Page

  // About Page


}

@include respond-to($tablet-portrait){

  // Common Style

  // Index Page


  // About Page


}


@include respond-to($normal-desktop){

  // Index Page

  // About Page

}



