
// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

$theme-font: 'Roboto', sans-serif;
$theme-color:#FF6C37;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#808080;
$grcolor:#41a30d;

// Start Sass Mixins

@mixin animation($avalue) {
  -webkit-animation: #{$avalue};
  -moz-animation: #{$avalue};
  -o-animation: #{$avalue};
  animation: #{$avalue};
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius; 
}

@mixin border-radius-s($tl, $tr, $br, $bl) {
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
  -ms-border-radius-topleft: $tl;
  -ms-border-radius-topright: $tr;
  -ms-border-radius-bottomright: $br;
  -ms-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin keyframes($aname) {
  @-webkit-keyframes #{$aname} {
    @content;
  }
  @-o-keyframes #{$aname} {
    @content;
  }
  @-moz-keyframes #{$aname} {
    @content;
  }
  @keyframes #{$aname} {
    @content;
  }
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin scale ($svalue) {
	@include transform(scale($svalue));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin translate ($x,$y) {
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
	background: #fff;
  color: #333;
  font-family:$theme-font;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
    background-color: transparent;
  	text-decoration: none;
		outline: 0;
	}
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}

.tbtn{
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-fill{
	background: $theme-color;
  border: 2px solid $theme-color;
  color: $wcolor;

  &:hover{
  	background: $bcolor;
  	border: 2px solid $bcolor;
  	color: $wcolor;
    @include transition(all,0.5s,ease-in);
  }
}

.btn-outline{
	background: transparent;
  border: 1px solid #b5b5b5;
  color: #757575;
  @include transition(all,0.4s,ease-in);

  &:hover{
  	background: #757575;
  	border: 1px solid #b5b5b5;
  	color: $wcolor !important;
  }
}

.sp{padding: 5% 0;}



.content{
  width: 93%;
  margin: 0 auto;
}

.tcolor{color:$theme-color !important;}


// CSS For Header Section

.vision-header{
  .vision-top-link{
    height: 25px;
    background: #eaeaea;
    line-height: 25px;
    text-align: right;

    ul{
      li{
        display: inline-block;
        a{
          font-size: 13px;
          padding: 0 20px;
          text-transform: uppercase;

          &:hover{
            color: $theme-color;
            text-decoration: underline;
            @include transition(all,0.4s,ease);
          }
        }
      }
    }
  }
  .vision-action-bar{
    height: 72px;
    background: $wcolor;
    line-height: 50px;
    padding: 10px 0;

    .mobile-nav-icon{
      a{
        color: $bcolor;
        font-size: 30px;
      }
    }

    .vision-search-box{
      .form-control{
        height:45px;
        background: #eaeaea;
        box-shadow: none;
        border: 1px solid #eaeaea;
        @include border-radius(0);
      }
      button{
        height: 45px;
        background: $theme-color;
        border: 1px solid $theme-color;
        @include border-radius(0);
        color: $wcolor;
        margin-top: -5px;
        padding: 6px 15px;
      }
    }

    .vision-cart-icon{
      text-align: center;

      a{
        color: $bcolor;
        font-size: 30px;

        .badge{
          position: absolute;
          top: 6px;
          right: 20px;
          background: $theme-color;
          color: $wcolor;
        }
      }
    }
  }
}

// ************************************

/* CSS For Home Slider Section */

.carousel-fade{
  .carousel-indicators{
    bottom: -5px;

    li{
      width: 12px;
      height: 12px;
      background-color: #ddd;
      border: 1px solid #ddd;
      @include border-radius(12px);
    }

    .active{
      width: 12px;
      height: 12px;
      background-color: $wcolor;
      border: 1px solid $wcolor;
      margin: 1px;
    }
  }

  .carousel-inner{
    .item{
      @include transition(all,0.5s,ease-in);
    }
      
    .item,
    .active.left,
    .active.right{
      opacity: 0.5;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
      z-index: 2;
  }
}

// ************************************



// CSS For Newsletter Section



// ************************************

// CSS For Footer Section



// ************************************

// CSS For About Page


// ************************************


// CSS For Tags Page


// ************************************

